.CircularProgressbar{
  width:20%;
} 

.cardsList{
  margin:2em;
}

.sectionTitle{
  padding-top: 1em;
  padding-left: 1.2em;
  font-size: 30px;
  font-weight: 800;
  font-family: math;
}

.textCard {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.textCard span {
  display: table-cell;
  text-align: center;
}