.CircularProgressbar{
  width:20%;
} 

.cardsList{
  margin:2em;
}

.textBar{
  float: right;
  word-break: break-all;
  width: 70%;
}

.textBar .textLine{
  display: block;
  padding-bottom: 15px;
}

.cardFooter{
  font-size: 12px;
  float: inherit;
}
.sectionTitle{
  padding-top: 1em;
  padding-left: 1.2em;
  font-size: 30px;
  font-weight: 800;
  font-family: math;
}